@use '../../styles/variables.scss' as var;
@import '../../styles/fonts.scss';

%admit {
  background-color: var.$forest-green;
}

%deny {
  background-color: var.$ruby-red;
}

%edit {
  background-color: var.$blue-violet;
}

.btn {
  font-weight: 500;

  outline: 0;
  border: 0;
  border-radius: var.$btn-border-radius;
  cursor: pointer;

  transition: ease-in-out 0.3s;

  user-select: none;
}

.nav {
  color: var.$white;

  background: var.$lime-green;

  &:hover {
    background-color: var.$deep-sky-blue;
  }
}

.form {
  width: 100%;
  padding: 15px;

  color: var.$white;
  text-transform: uppercase;

  background: var.$blue;

  &:hover {
    background-color: var.$deep-sky-blue;
  }
}

.admitModalWindow,
.denyModalWindow {
  margin: 0 1em;
  padding: 0.5em 1em;

  color: var.$white;
  font-family: RobotoMono, var.$default-fonts;

  &:hover {
    background-color: var.$deep-sky-blue;

    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.95);
  }
}

.admitModalWindow {
  @extend %admit;
}

.denyModalWindow {
  @extend %deny;
}
