.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  background-color: aqua;
}

.header {
  display: grid;
  grid-template-columns: auto auto 1fr auto;
  grid-template-rows: auto;
  grid-template-areas: 'board-title close-board-button . create-column-button';
  gap: 1em;
  padding: 0.5em 1em;
}

.boardTitle {
  grid-area: board-title;
}

.closeBoardButton {
  grid-area: close-board-button;
}

.createColumnButton {
  grid-area: create-column-button;
}

.boardColumns {
  display: flex;
  height: 100%;

  overflow-x: auto;
  overflow-y: hidden;
}
