@use '../../styles/variables.scss' as var;

.column {
  display: flex;
  flex-direction: column;
  width: 300px;
  min-width: 300px;
  height: max-content;
  max-height: calc(90vh);
  margin: 0 0.5em;
  padding: 0.5em;

  background-color: var.$column-background;
  border-radius: 5px;
}
.columnTitle {
  color: var.$white;
  text-overflow: ellipsis;

  overflow: hidden;

  &:hover {
    cursor: pointer;
  }
}

.editColumnTitle {
  textarea {
    height: 4rem;
    width: 100%;

    resize: none;
  }

  div {
    display: flex;
    justify-content: flex-end;
  }

  button {
    margin-left: 0.5em;
  }
}

.taskContainer {
  margin: 0.2em 0;

  overflow-x: hidden;
  overflow-y: auto;
}

.columnControl {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.deleteColumnButton {
}

.createTaskButton {
}
