@charset 'utf-8';

@use './variables.scss' as var;
@import './fonts.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  &::-webkit-scrollbar {
    width: 0.6em;
    height: 0.6em;
    margin-block: 0.25em;
  }

  &::-webkit-scrollbar-track {
    margin-block: 0.25em;

    border-radius: 100vw;
    background-color: var.$column-background;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 100vw;
    background-color: var.$grey;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: var.$deep-sky-blue;
  }
}

body,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  color: var.$black;
  font-weight: 500;

  background-color: var.$white;

  overflow: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.modalDescription {
  margin: 1em;

  font-size: 1.75rem;
  font-weight: 900;

  user-select: none;
}
