@charset 'utf-8';

@import './variables.scss';
@import './fonts.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

body,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
}

body {
  color: $black;
  font-weight: 500;

  background-color: $white;
  font-family: 'Work Sans', sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalDescription {
  margin: 1em;

  font-size: 1.75rem;
  font-weight: 900;
}
