@font-face {
  font-family: RobotoMono;
  src: url('../assets/fonts/RobotoMono-VariableFont_wght.ttf');
}

@font-face {
  font-family: PTSansRegular;
  src: url('../assets/fonts/PTSans-Regular.ttf');
}

@font-face {
  font-family: RobotoCondensedRegular;
  src: url('../assets/fonts/RobotoCondensed-Regular.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap');
