$white: rgb(250, 250, 250);
$light-grey: rgb(200, 200, 200);
$grey: rgb(140, 140, 140);
$black: rgb(0, 0, 0);
$blue: rgb(0, 110, 255);
$deep-sky-blue: rgb(0, 191, 255);
$aqua: rgb(0, 255, 255);
$lime-green: rgb(50, 205, 50);
$shadow: rgba(56, 56, 56, 0.3);
$yellow:rgb(255, 210, 76);
$light-yellow: rgb(255, 230, 154);
$sky-blue: rgb(146, 180, 236);
$dark: rgb(34, 40, 49);
$light-dark: rgb(57, 62, 70);
$cyan: rgb(0, 173, 181);
$mouse-grey: rgb(238, 238, 238);
$snow-white: rgb(255, 255, 255);


$screen-width-large: 1366px;
$screen-width-medium: 1024px;
$screen-width-small: 640px;

$default-fonts: Arial, Helvetica, sans-serif;

$btn-border-radius: 5px;

$main-transition: ease-in-out 0.3s;
