@use '../../styles/variables.scss' as var;

.form {
  max-width: 350px;
  width: 100%;
  background: var.$white;
  padding: 45px;
  border-radius: 10px;
  box-shadow: var.$card-shadow;
  transition: all 0.5s;
  overflow: hidden;

  &:hover {
    box-shadow: var.$card-shadow-deep;
  }
}

.title {
  text-align: center;
  font-size: 1.5rem;
  word-wrap: break-word;
}

.input {
  border-radius: var.$btn-border-radius;
  background: #f2f2f2;
  width: 100%;
  border: 2px solid #f2f2f2;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;

  &:focus {
    border-color: var.$light-grey;
  }
}

.error {
  padding: 5px;
  height: 28px;
  font-size: 0.8rem;
  color: red;
}
