@use '../../styles/mixins.scss' as mix;
@use '../../styles/variables.scss' as var;

.nav {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;

  @include mix.mobile {
    display: none;
    gap: 0;
    font-size: 0.8rem;
  }
}

.activeBurgerNav {
  display: block !important;
  flex-direction: column;
  position: relative;
  font-size: 1.5rem;
}

.activeBurgerList {
  display: flex;
  position: fixed;
  right: 0;
  top: 0;
  flex-direction: column;

  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 5rem;
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;

  width: 100%;
  background-color: var.$dark;

  transition: all 0.3s;
}

// .nonactiveNav {
//   display: flex !important;
// }

.menuButton {
  display: none;
  z-index: 1000;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 2rem;
  order: 1;

  @include mix.mobile {
    display: flex;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  background: transparent;
  width: 100%;
  height: 100%;
}
