@use '../../styles/variables.scss' as var;

.cardsBlock {
  width: 100%;
  min-height: 40rem;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.title {
  color: var.$blue;
}
