@use '../../../styles/variables.scss' as var;

.task {
  margin: 0.25em 0;
  padding: 0.25em;

  text-overflow: ellipsis;

  background-color: var.$white;
  border-radius: 5px;

  overflow: hidden;

  &:hover {
    cursor: pointer;
  }
}