@use '../../../styles/variables.scss' as var;

.main {
  display: flex;
}

.task {
  width: 100%;
  margin: 0.25em 0;
  padding: 0.25em;

  text-overflow: ellipsis;

  background-color: var.$white;
  border-radius: 5px;

  overflow: hidden;
  user-select: none;

  &:hover {
    cursor: pointer;
  }
}

.deleteTaskButton {
  margin: 5px;
}
