@import '../../styles/variables.scss';

.header {
  background-color: $blue;
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  transition: ease-in-out 0.3s;
}

.scrolled {
  background-color: $deep-sky-blue;
  padding: 10px 20px;
}
