@use '../../styles/variables.scss' as var;
@use '../../styles//mixins.scss' as mix;

.footer {
  background-color: rgba(var.$lime-green, 0.8);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  margin-top: auto;

  @include mix.large-mobile {
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
  }

  &Github {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    @include mix.large-mobile {
      justify-content: center;
    }

    a {
      color: var.$black;
      transition: var.$main-transition;
    }

    a:hover {
      color: var.$white;
    }
  }
}

.footerLogo {
  height: 30px;
  cursor: pointer;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  color: var.$black;
}
