@use '../../styles/variables.scss' as var;

.main {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  background-color: var.$modal-background;
}

.container {
  position: relative;
  z-index: 20;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3em 5em;

  background-color: var.$white;
  border-radius: var.$modal-window-border-radius;
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}
